---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<html>
    <Layout title="Ronaldo" />
    <main>
        <p slot="title" class="center">Ronaldo</p>
        <p slot="desc">Leyenda portugesa</p>
        <center><img src="ronaldo.jpg" height="500" width="400" /></center>
    </main>
</html>
