---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<html>
	<Layout title="Welcome." />
	<main>
		<center><h1>Welcome to Messias</h1></center>
		<center><img src="/messi.jpg" width="400" height="700" /></center><br />

		<ul>
			<li>
				<center><h2>Trofeos</h2></center>
			</li>
			<li>
				<p>Mundial</p>
			</li>
			<li>
				<p>Copa America</p>
			</li>
			<li>
				<p>Finalissima</p>
			</li>
			<li>
				<p>Ligue 1</p>
			</li>
		</ul>
	</main>
	<style>
		h1 {
			margin: 3rem 0;
		}

		main {
			margin: auto;
			padding: 3em;
		}

		@keyframes pulse {
			0%,
			100% {
				background-position-y: 0%;
			}
			50% {
				background-position-y: 80%;
			}
		}
	</style>
</html>
