---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
---

<Layout title="Nosotros" />
<main>
    <center><h1>¿Quienes somos?</h1></center><br <center />
    <center>
        <p>
            Somos Fanaticos de la pelota con ganas de hacer una pagina sobre sus
            idolos
        </p></center
    >
</main>
